<header class="wrap" role="banner">
  <div class="logo">
     <img src="{{ site.data.site.logo }}" style="width: 70px;height:70px;border-radius:20%;" alt="{{ site.data.site.organisation }}">
    <div>
      <div class="brand">{{ site.data.site.organisation }}</div>
      <div class="muted" style="font-size:12px">{{ site.data.site.tagline }}</div>
    </div>
  </div>

  <!-- Menu desktop -->
  <nav aria-label="Navigation principale" class="desktop-nav">
    {% for item in site.data.nav.items %}
    <a href="{{ item.url }}"{% if item.cta %} class="cta"{% endif %}>{{ item.label }}</a>
    {% endfor %}
  </nav>
  <button id="menu-toggle" aria-label="Ouvrir le menu" class="hamburger hamburger-btn">
        <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
    </button>
  <!-- Menu mobile hamburger -->
  <div class="mobile-nav-wrapper">
    <nav aria-label="Navigation principale" id="main-nav" class="nav-collapsed">
      <!-- header mobile -->
      <div class="mobile-nav-header" style="margin-bottom:24px;text-align:center;">
         <img src="{{ site.data.site.logo }}" style="width: 60px;height:60px;border-radius:50%;" alt="{{ site.data.site.organisation }}">
        <div style="color:white;font-weight:700;font-size:16px">{{ site.data.site.organisation }}</div>
      </div>
      <ul>
        {% for item in site.data.nav.items %}
        <li><a href="{{ item.url }}"{% if item.cta %} class="cta"{% endif %}>{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <!-- overlay mobile -->
  <div id="nav-overlay"></div>
</header>
