---
layout: aboutus
title: A propos
---
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Maison Verte Haiti - Semer le Vert , Proteger La Terre , Faire Respirer Haiti</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Maison verte,Haiti,Cinecolo,Jaden fanm,KAribiodiv,Je dis vert,Biodiverste,Environnement,Protection Environnement" name="keywords">
    <meta content="Maison Verte Haiti -Semer le Vert , Proteger La Terre , Faire Respirer Haiti" name="description">
     <meta name="description"
 content="Maison verte,Haiti,Cinecolo,Jaden fanm,KAribiodiv,Je dis vert,Biodiverste,Environnement,Protection Environnement" />
  <meta name="keywords"
    content="Maison verte,association maison,association maison verte,ecologie,environnement,biodiversite" />
  <meta property="og:title" content="Association Maison Verte D'Haiti" />
  <meta property="og:description"
    content="Maison Verte Haiti - Semer le Vert , Proteger La Terre , Faire Respirer Haiti" />
  <meta property="og:image" content="https://maisonvertehaiti.org/img/about-1.jpg" />
  <meta property="og:url" content="https://maisonvertehaiti.org" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="author" content="CHARLDÉ WEDSER">
  <meta name="robots" content="index, follow">
  <meta name="language" content="French">
  
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>
   {% include header.html %}
  <!--heroslides-->
    {% include slides.html %}
   
<!-- About Start -->
 {% for about in site.aboutus %}
<div class="container-fluid about  py-5" id="about" style="margin-top: 400px;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-5">
                <div class="h-100">
                    <img src="{{ about.image }}" class="img-fluid w-100 h-100" style="border-radius: 20px;margin-top:20px;" alt="Image">
                </div>
            </div>
            <div class="col-xl-7"><br>
                <h5 class="text-uppercase text-primary"> À propos de Maison Verte</h5>
              
                <p class="fs-5 mb-4">
                  {{ about.slogan }}
                </p>
                <div class="tab-class bg-secondary p-4">
                    <ul class="nav d-flex mb-2">
                        <li class="nav-item mb-3">
                            <a class="d-flex py-2 text-center bg-white active" data-bs-toggle="pill" href="#tab-1">
                                <span class="text-dark" style="width: 150px;">À Propos</span>
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="d-flex py-2 mx-3 text-center bg-white" data-bs-toggle="pill" href="#tab-2">
                                <span class="text-dark" style="width: 150px;">Mission</span>
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="d-flex py-2 text-center bg-white" data-bs-toggle="pill" href="#tab-3">
                                <span class="text-dark" style="width: 150px;">Vision</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="text-start my-auto">
                                            <h5 class="text-uppercase mb-3"> Qui sommes-nous</h5>
                                            <p class="mb-4">
                                                {{ about.description }}
                                            </p>
                                           <div class="d-flex align-items-center justify-content-start">
                                                <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="/apropos/">Lire plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="text-start my-auto">
                                            <h5 class="text-uppercase mb-3"> Notre Mission</h5>
                                            <p class="mb-4">
                                                {{ about.mission }}
                                            </p>
                                           <div class="d-flex align-items-center justify-content-start">
                                                <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="/apropos/">Lire plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="text-start my-auto">
                                            <h5 class="text-uppercase mb-3"> Notre Vision</h5>
                                            
                                            <p class="mb-4">
                                              {{ about.vision }}
                                            </p>
                                            <div class="d-flex align-items-center justify-content-start">
                                                <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="/apropos/">Lire plus</a>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

   {% include footer.html %}

 <script src="/assets/js/main.js" defer></script>
     <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>

</body>

</html>